/* featured project styles */

.featured-projects {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.featured-projects__module {
  margin-bottom: 2em;
}

.featured-projects__image {
  height: 325px;
  width: 100%;
  margin-bottom: 1.5em;
  border: 2px dashed rgb(240, 236, 236);
  border-radius: $border-radius--global;
  padding: 4px;
  transition: border-color 0.2s ease-in;
  &:hover {
    border-color: lighten($link-color, 20%);
  }
  img {
    height: 100%;
    width: 100%;
  }
}

.featured-projects__caption {
  p {
    color: $textcolor-light;
  }
}