/* featured section - header styles */

.featured__header {
  margin-bottom: 2em;

  .featured__header-left {
    margin-bottom: 2em;

    .tech-used {
      & ul {
        color: $textcolor-light;
        margin: 1em 0;
        padding-left: 30px;
        li {
          margin-bottom: .55em;
        }
      }
    }
  }

  .featured__header-right {
    height: 220px;

    img {
      height: 100%;
    }
  }
}


/* featured section - featured project styles */

.featured-projects {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.featured-projects__module {
  max-width: 450px;
  margin-bottom: 2em;
}

.featured-projects__image {
  height: 325px;
  margin-bottom: 1.5em;
  border: 2px dashed rgb(240, 236, 236);
  border-radius: $border-radius--global;
  padding: 4px;
  transition: border-color 0.2s ease-in;
  &:hover {
    border-color: lighten($link-color, 20%);
  }
  img {
    height: 100%;
    width: 100%;
  }
}

.featured-projects__caption {
  p {
    color: $textcolor-light;
  }
}
