/* featured projects styles */

.featured p {
  line-height: 1.8;
}

/* featured header styles */

  
 


.tech-used ul {
  color: darken($figcaption-textcolor, 15%);
  margin: 1em 0;
  li {
    margin-bottom: .55em;
  }
}


/* featured projects styles */

.featured-projects {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 3em 0 2.5em;
}

.featured__header-intro {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  p {
    width: 45%;
    // flex: 1;
    margin-right: 3em;
  }

  
}

.featured__header-image {
  // flex: 1;
  width: 50%;
  // border: 1px dashed blue;
  margin-bottom: 2em;

  img {
    width: 100%;
    display: block;
    // margin: 0 auto;
    border-radius: $border-radius--global;
  }
}


/* module styles */

.featured-projects__module {
  width: 450px;
}

.featured-projects__image {
  height: 325px;
  min-width: 450px;
  margin-bottom: 1.2em;
  border: 1px dashed rgb(228, 225, 225);
  border-radius: $border-radius--global;
  padding: 5px 4px;
  &:hover {
    border-color: lighten($link-color, 20%);
  }
  img {
    height: 100%;
    // width: 100%;
  }
}

.featured-projects__caption {
  padding: 0 1px;
  a {
    display: inline-block;
  }
  p {
    color: $figcaption-textcolor;
    font-size: .95em;
  }
}