/* global styling */

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  color: $textcolor;
  background: #fff;
}

p {
  line-height: 2;
  font-size: 1em;
}

body,
header,
main,
footer,
article,
section,
figure,
ul {
  margin: 0;
}

h1,
h2,
h3,
h4,
p {
  margin: 0 0 1rem;
}


/* global layout */

.inner {
  // margin: 0 auto;
  padding: 0 1.2em;
}

.container {
  margin: 0 auto;
  max-width: 1600px;
}


/* links */

a {
  text-decoration: none;
  color: $link-color;
  transition: color .1s ease-in;
  &:hover {
    color: lighten($link-color, 15%);
  }
}

blockquote {
  border-left: 6px solid #6e8063;
  padding-left: 20px;
  margin: 1.3em 0;
  background: rgba(218, 200, 177, .20);
  padding: 20px;
  p {
    color: $textcolor-light;
    font-style: italic;
  }
  .author {
    text-decoration: underline;
    font-style: italic;
  }
}

.about-me .inner {
  display: flex;
  flex-direction: column;
  h2 {
    order: 1;
  }
  .profile-pic {
    width: 210px;
    height: 200px;
    border-radius: 100%;
    display: block;
    margin: 1em auto 2em;
    order: 0;
  }
  p {
    order: 1;
  }
}


/* social icons */

.social-icons {
  display: flex;
  justify-content: space-around;
  background: lighten($textcolor-light, 35%);
  padding: 1em 0;
  border-radius: 1px;
  margin: 0 auto 2em;
  a {
    color: inherit;
    transition: opacity .12s ease-in;
    &:hover {
      opacity: .60;
    }
  }
  .icon {
    // color: red;
    font-size: 3rem;
    // border: 1px solid red;
  }
}