/* media queries */

@media screen and (max-width: 1440px) {
  // TODO: Make the images and figcaption switch for some (pic on right, caption on left)
  // featured header
  .featured__header {
    display: flex;
    flex-flow: row wrap;
  }
  .featured__header-right {
    flex: 3;
  }
  // featured projects
  .featured-projects__module {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 2em;
    figcaption {
      flex: 1;
    }
  }
  .featured-projects__image {
    width: 450px;
    margin-right: 5em;
  }
  .featured-projects__caption a:first-child {
    padding: .30em 0 1em;
  }
}

@media screen and (max-width: 930px) {
  // featured header
  .featured__header {
    flex-flow: column wrap;
    margin-bottom: 2em;
    h2 {
      background: none;
      margin-bottom: 1em;
      width: 100%;
      padding: 0;
      color: darken($featured__main-textcolor, 15%);
    }
    .featured__header-left,
    .featured__header-right {
      width: 100%;
      margin: 1.2em 0;
    }
  }
  .featured__header-right img {
    width: 80%;
    display: block;
    margin: 0 auto;
  }
  // featured-projects
  .featured-projects {
    margin: 0;
    .featured-projects__image {
      margin: 0;
      max-width: 450px;
      width: 100%;
      img {
        width: 100%;
      }
    }
  }
  .featured-projects__module {
    display: block;
    width: 100%;
  }
}