/* media queries */
/*

@media screen and (max-width: 1440px) {
  // TODO: Make the images and figcaption switch for some (pic on right, caption on left)
  // featured header

  body {
    background: lightblue;
  }
  .featured__header {
    display: flex;
    flex-flow: row wrap;
  }
  .featured__header-right {
    flex: 3;
  }

  .featured-projects__module {
    width: $project-module-width;
  }






  // featured projects

  .featured-projects {
    justify-content: space-between;
  }
  .featured-projects__module .inner {
    // display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    // width: 100%;
    // margin-bottom: 2em;
    figcaption {
      flex: 1;
    }
  }




  .featured-projects__image {
    width: 100%;
    // margin-right: 5em;

    img {
      width: 100%;
    }
  }
  .featured-projects__caption a:first-child {
    padding: .30em 0 1em;
  }
}

*/











/*
@media screen and (max-width: 930px) {
  // featured header
  .featured__header {
    flex-flow: column wrap;
    margin-bottom: 2em;
    h2 {
      background: none;
      margin-bottom: 1em;
      width: 100%;
      padding: 0;
      color: darken($featured__main-textcolor, 15%);
    }
    .featured__header-left,
    .featured__header-right {
      width: 100%;
      margin: 1.2em 0;
    }
  }
  .featured__header-right img {
    width: 80%;
    display: block;
    margin: 0 auto;
  }
}

*/



  




/*







@media screen and (min-width: 880px) {

  .featured-projects__module .inner {
    display: flex;

    .featured-projects__image {
      margin-right: 2em;
      min-width: 450px;
    }
  }






















}

*/








@media screen and (min-width: 450px) {
  body {
    // background: lightgreen;
  }
  

  /* featured project styles */
  .featured__header-right {
      // width: 450px; 

      .inner {
        padding: 0 1.2em;
      }

      img {
      max-width: $project-module-width;
        
      }


  }

  /* featured project styles */

  .featured-projects__module {
    // border: 1px dashed blue;
  }

  
    .featured-projects__image {
      // width: $project-module-width;
      max-width: 450px;
    }

  




}