/* media queries */

@media screen and (max-width: 1440px) {
  // TODO: Make the images and figcaption switch for some (pic on right, caption on left)
  /* featured header styles */
  .featured__header {
    display: flex;
    flex-flow: row wrap;
  }
  /* featured projects styles */
  .featured-projects {
    display: block;
  }
  /* project module styles */
  .featured-projects__module {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 2em;
    figcaption {
      // width: 60%;
      flex: 1;
      // min-width: 370px;
    }
  }
  .featured-projects__image {
    width: 35%;
    margin-right: 3em;
  }
  .featured-projects__caption a:first-child {
    padding: .30em 0 1em;
  }
}

@media screen and (max-width: 1025px) {

  body {
    // background: green;
  }

  .featured__header-left p {
    // width: 100%;
    margin-bottom: 2em;
  }
  .featured__header-right {
    
    // flex: 1;
    width: 100%;
    // border: 1px dashed blue;

    img {
      // width: 80%;
      margin: 0;
      // margin: 0 auto;
    }
  }
}

// end of media querie (max-width: 440)
@media screen and (max-width: 930px) {
  body {
    background: green;
  }

  .featured__header {
    display: flex;
    flex-flow: column wrap
  }
  .featured-projects__module {
    display: block;
    width: 100%;
  }
  .featured-projects__image {
    width: 450px;
    display: block;
    margin: 3em 0;
  }
}








@media screen and (max-width: 790px) {

  .featured__header-right {
    width: 100%;   
  }
}

@media screen and (max-width: 480px) {

  .featured-projects {
    margin-top: 0;
  }
  .featured-projects__image {
    width: 100%;
    min-width: 100%;
    margin: 1em 0;
  }
}