/* general styling */

@import "partials/variables";
* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  color: $body-textcolor;
}

h1,
h2,
h3,
h4,
p {
  margin: 0 0 .85em;
}

img {
  max-width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  padding-left: 30px;
  list-style-position: inside;
}

figure {
  margin: 0;
}

a {
  text-decoration: none;
  color: $link-color;
  transition: color .1s ease-in;
  &:hover {
    color: lighten($link-color, 15%);
  }
}


/* global layout styles */

.container {
  max-width: 1800px;
  width: 95%;
  margin: 0 auto;
}

section {
  // border: 1px solid lightgray;
  padding: 20px 0;
}

@import "partials/featured-section_styles";

/* media queries */

@media screen and (max-width: 1440px) {
  // TODO: Make the images and figcaption switch for some (pic on right, caption on left)
  /* featured header styles */
  .featured__header {
    display: flex;
    flex-flow: row wrap;
    .featured__header-image {
      text-align: center;
      img {
        width: 85%;
        border-radius: $border-radius--global;
      }
    }
  }
  /* featured projects styles */
  .featured-projects {
    display: block;
  }
  /* project module styles */
  .featured-projects__module {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 2em;
    figcaption {
      // width: 60%;
      flex: 1;
      // min-width: 370px;
    }
  }
  .featured-projects__image {
    width: 35%;
    margin-right: 3em;
  }
  .featured-projects__caption a:first-child {
    padding: .30em 0 1em;
  }
}

// end of media querie (max-width: 440)
@media screen and (max-width: 930px) {
  .featured-projects__module {
    display: block;
    width: 100%;
  }
  .featured-projects__image {
    width: 450px;
    display: block;
    margin: 3em 0;
    img {
      width: 100%;
    }
  }
}

@media screen and (max-width: 480px) {
  .featured-projects__image {
    width: 100%;
    min-width: 100%;
  }
}