/* general styling */

@import "partials/variables";
* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  color: $body-textcolor;
}

h1,
h2,
h3,
h4,
p {
  margin: 0 0 .85em;
}

img {
  max-width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  padding-left: 30px;
  list-style-position: inside;
}

figure {
  margin: 0;
}

a {
  text-decoration: none;
  color: $link-color;
  transition: color .1s ease-in;
  &:hover {
    color: lighten($link-color, 15%);
  }
}


/* global layout styles */

.container {
  max-width: 1800px;
  width: 95%;
  margin: 0 auto;
}

section {
  // border: 1px solid lightgray;
  padding: 20px 0;
}

@import "partials/featured-section_styles";

/* media queries */

@media screen and (max-width: 1440px) {
  body {
    background: blue;
  }

  .featured-projects {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
  }

  /* project module styles */
  .featured-projects__module {
    width: 450px;
    // margin: 0 auto 3em;
    margin-bottom: 3em;
  }
}

.featured-projects__caption a {
  display: block;

  &:first-child {
    padding: 1em 0;
  }
}